.top-panel-container {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
}

.btn.btn-link {
  color: white;
}

.btn.btn-link:focus {
  outline: none;
}

.btn.btn-link:disabled,
.btn.btn-link:hover {
  color: #b7b7b7;
}
